<div class="bottom">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/clinic/clinic@2x.png'>
                <p class="bottom-text clinic">Clinic</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/labs/labs@2x.png'>
                <p class="bottom-text labs">Labs</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/radiology/radiology@2x.png'>
                <p class="bottom-text other">Radiology</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/pathology/pathology@2x.png'>
                <p class="bottom-text other">Pathology</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/endoscopy/endoscopy@2x.png'>
                <p class="bottom-text endoscopy">Endoscopy</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/ecare/ecare@2x.png'>
                <p class="bottom-text labs">eCare</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/my-coach/my-coach@2x.png'>
                <p class="bottom-text other">My Coach</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/surgery/surgery@2x.png'>
                <p class="bottom-text other">Surgery</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="bottom-element">
                <img class="bottom-img" src='../../../assets/icons/my-menu/my-menu@2x.png'>
                <p class="bottom-text other">My Menu</p>
            </div>
        </div>
        <div class="col-lg-4 col-md- col-sm-12 col-6">
            <div class="bottom-element">
                <img class="bottom-img"
                    src='../../../assets/icons/post-sugnery-self-assessment/post-sugnery-self-assessment@2x.png'>
                <p class="bottom-text other">Post Sugnery Self Assessment</p>
            </div>
        </div>
    </div>
</div>