.top-month-group{
    display:flex;
    margin-left: 2%;
    margin-right: 2%;
}
.month{
    background: gainsboro;
    margin-right: 1%;
    width: 8%;
    font-weight: 700;
    text-align: center;
}
.month-patient-group{
    display:flex;
    margin-left: 2%;
    margin-right: 2%;
    /* margin-bottom: 10px; */
}
.patient{
    margin-right: 1%;
    margin-left: 1%;
    width: 8%;
    font-weight: 700;
    text-align: center;
}
.top-table 
{
    /* height: 500px; */
    padding: 10px;
    border: solid 1px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
a:hover {
    background-color: #ddd;
    color: black !important;
    cursor: default;
}
.previous {
    background-color: #4CAF50;
    color: white !important;
}

.next {
    background-color: #4CAF50;
    color: white !important;
}

.round {
    border-radius: 50%;
}
.icon
{
    cursor: pointer !important;
}