.top-week-group{
    display:flex;
    margin-left: 2%;
    margin-right: 2%;
}
.week{
    background: gainsboro;
    margin-right: 1%;
    width: 8%;
    font-weight: 700;
    text-align: center;
}
.week-patient-group{
    display:flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
}
.patient{
    margin-right: 1%;
    width: 8%;
    font-weight: 700;
    text-align: center;
}
.top-table 
{
    /* height: 500px; */
    padding: 10px;
    border: solid 1px;
}